#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.center-title-horizontal{
  display: flex;
  justify-content: center;
}

.center-title-horizontal h2{
  font-size: 20px;
}

ion-item-option ion-icon {
  font-size: 20px;
}

ion-item-option{
  ion-label {
    font-size: 8px!important;
  }
}

.md,.ios{
  page-landing {
    .custom-alertDanger {
      background-color: #F35E5D !important;
      background: #F35E5D  !important;
      color: red !important;
      $alert-md-background-color: #F35E5D;
      $alert-ios-background: #F35E5D;
}}}